body {
  margin: 0;
  font-family: Arial;
  background: #fafafa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #3e2723;
  color: white;
}

.hero {
  text-align: center;
  padding: 40px;
  background: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085");
  color: white;
}

.menu {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

button {
  background: #6d4c41;
  color: white;
  padding: 8px;
  border: none;
}

.cart {
  padding: 20px;
}

.signup {
  padding: 20px;
  background: white;
}